<footer id="footer-site">


    <ul class="widget-social">

        <li>
            <img src="../img/Debit_Dark.png" alt="Картки" />
        </li>
        <li>
            <a href="" class="fab fa-facebook-f"></a>
        </li>
        <li>
            <a href="" class="fab fa-twitter"></a>
        </li>
        <li>
            <a href="" class="fab fa-pinterest-p"></a>
        </li>
    </ul>


    <table>

        <tbody>
            <tr>
                <td>Nexus 6P</td>
                <td>Huawei</td>
                <td>49000</td>
            </tr>
            <tr>
                <td>iPhone 6S PLus</td>
                <td>Apple</td>
                <td>62000</td>
            </tr>
            <tr>
                <td>Lumia 950 XL</td>
                <td>Microsoft</td>
                <td>35000</td>
            </tr>
        <tbody>

    </table>


    <p> <a href="/">BUSINESS</a> |
        <a href="/">ECONOMICS</a> |
        <a href="/">INFORMATIVE</a> |
        <a href="/">LITERATURE</a> |
        <a href="/">MENAGEMENT</a> |
        <a href="/">POLITICAL</a> |
        <a href="/">PSYCHOLOGY</a> |
        <a href="/">RESEARCH</a> |
        <a href="/>">REVIEW</a> |
        <a href="/">TECHNOLOGY</a>
    </p>

    </div>



    <div>
        <span>Teams and Conditions Privacy Policy<span>
                <a href="#toppage"></a>
    </div>
</footer>