<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="header">
        <section class="header-info">
            <div class="container-fluid">
                <div class="container">
                    <div class="row header-top">
                        <div class="contact-phone col-xl-4 col-lg-3 col-md-3">
                            <span>Sales tool free:</span>
                            <p>1 (877) 894-0925</p> 
                        </div>
                        <div class="contact-phone col-xl-4 col-lg-3 col-md-3">
                            <span>Support tool free:</span>
                            <p>1 (877) 894-0925</p> 
                        </div>
                        <div class="header-login col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <a href="../login.html">Login</a>
                            <img src="../img/Login.png" alt="login">
                        </div>
                        <div class="header-chat col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <a href="#">Live-Chat</a>
                            <img src="../img/Chat.png" alt="chat" width="51" height="30">    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="header-nav">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar">
                                <ul>
                                    <li>
                                        <a href="#">home</a>
                                    </li>
                                    <li>
                                        <a href="#">about us</a>
                                    </li>
                                    <li>
                                        <a href="#">prices</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>

</html>