<main class="settings-body">
    <section class="section-one">
       <div class="container-fluid "> 
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="head-section-text">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                       </div>
                       <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget consectetur lectus, eu laoreet massa. Duis viverra porttitor mi, et ornare leo interdum vel. Vivamus libero arcu, fermentum at aliquam eu, fringilla eget lorem. Suspendisse non ullamcorper libero, ac aliquam nisi. Curabitur ac tristique quam. Sed ornare ante sed imperdiet aliquet. Suspendisse sagittis ullamcorper nunc sit amet egestas. Aliquam mollis euismod leo, at lobortis neque pellentesque ac. Maecenas quis dignissim erat, ut ullamcorper arcu. Suspendisse dictum id velit vel lobortis. Vivamus a tellus eu lacus aliquet finibus.</p>
                       <p class="text-uppercase">Nunc posuere eros quis dolor hendrerit tempus<br>
                           In gravida ligula vel urna laoreet, quis convallis urna condimentum</p>

                       <ul>
                           <li>
                               <span>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                               <p>Proin fringilla tellus ac venenatis aliquam. Integer eu rhoncus dui. Duis in ligula eu nunc finibus viverra. Quisque dictum semper quam, sit amet faucibus enim tincidunt nec. Maecenas dignissim fermentum tincidunt. Phasellus vitae nulla libero. Vestibulum a ante fermentum, tristique sapien eget, sodales sapien. Nullam felis ex, laoreet nec semper vitae, molestie nec tortor. Praesent rutrum, purus ac maximus euismod, nisl arcu pharetra lectus, vitae posuere est libero sed felis.</p>
                           </li>
                           <li>
                               <span>2. Maecenas nibh lorem, ullamcorper quis lacus ac, lobortis maximus lacus</span>
                               <p>Morbi ullamcorper ligula libero, ut laoreet risus vulputate ac. Nulla a ultricies neque, a tempus justo. Cras efficitur tristique est, eget suscipit justo porta id. Sed finibus nibh eget tortor congue, quis faucibus nibh elementum. Vivamus pellentesque nec sem non ultrices.</p>
                           </li>
                           <li>
                               <span>3. Vivamus sollicitudin eget magna et placerat</span>
                               <p>Nulla ultrices velit nec turpis eleifend pulvinar. Phasellus ut nunc nulla. Curabitur viverra neque vitae elit fringilla, sed convallis felis suscipit. Donec lobortis posuere ligula. Maecenas rhoncus tincidunt velit at ornare. Nunc at posuere ante.</p>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
    </section>
    <section class="section-two">
       <div class="container-fluid "> 
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="head-section-text">
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                       </div>

                       <p class="info-text first-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget consectetur lectus, eu laoreet massa. Duis viverra porttitor mi, et ornare leo interdum vel. Vivamus libero arcu, fermentum at aliquam eu, fringilla eget lorem. Suspendisse non ullamcorper libero, ac aliquam nisi. Curabitur ac tristique quam. Sed ornare ante sed imperdiet aliquet. Suspendisse sagittis ullamcorper nunc sit amet egestas. Aliquam mollis euismod leo, at lobortis neque pellentesque ac. Maecenas quis dignissim erat, ut ullamcorper arcu. Suspendisse dictum id velit vel lobortis. Vivamus a tellus eu lacus aliquet finibus.
                       </p>
                       <p class="info-text">
                           Donec ac tincidunt tellus. Aliquam porttitor, mauris a bibendum convallis, purus neque ornare risus, id consequat magna orci sit amet ligula. Sed sed convallis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean in dignissim dolor, ac dapibus odio. Nulla massa velit, accumsan a dictum nec, feugiat ac libero. Donec dapibus semper rhoncus. Etiam id pretium nunc. Mauris vehicula, elit in auctor aliquam, nibh mi faucibus ligula, in congue nisi lorem non urna. Sed ut velit in sapien scelerisque maximus eget a nibh. Sed pretium pharetra odio, ut placerat libero sodales sed. Curabitur faucibus lectus non lacus aliquam accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vitae lorem ut ipsum consequat gravida. Praesent in aliquam nunc.
                       </p>
                   </div>
               </div>
        </div>
       </div>
   </div>
    </section>
    <section class="section-three">
       <div class="container-fluid "> 
           <div class="container">
               <div class="row">
                   <div class="list-block col-md-12">
                           <div class="block">
                               <h3>Lorem ipsum</h3>
                               <ul>
                                   <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p></li>
                                   <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p></li>
                                   <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p></li>
                                   <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p></li>
                                   <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p></li>
                               </ul>
                           </div>
                       </div>
               </div>
        </div>
       </div>
   </div>
    </section>
    <section  class="section-four">
       <div class="container-fluid "> 
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="head-section-text">
                           <p>FAQ</p>
                       </div>
                       <div class="accordion">
                           <div class="tabs">
                               <div class="tab">
                                 <input type="checkbox" id="rd1" name="rd">
                                 <label class="tab-label" for="rd1">How confidential is your writing service?</label>
                                 <div class="tab-content">
                                   <h2>Lorem ipsum dolor sit amet.</h2>
                                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
                                 </div>
                               </div>
                               <div class="tab">
                                 <input type="checkbox" id="rd2" name="rd">
                                 <label class="tab-label" for="rd2">How will my custom essay be formatted?</label>
                                 <div class="tab-content">
                                   <h2>Lorem ipsum dolor sit amet.</h2>
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                 </div>
                               </div>
                               <div class="tab">
                                 <input type="checkbox" id="rd3" name="rd">
                                 <label class="tab-label" for="rd3">Is it possible to have my paper at a discounted price?</label>
                                 <div class="tab-content">
                                   <h2>Lorem ipsum dolor sit amet.</h2>
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                 </div>
                               </div>
                               <div class="tab">
                                 <input type="checkbox" id="rd4" name="rd">
                                 <label class="tab-label" for="rd4">What are my options if I am displeased with my essay? </label>
                                 <div class="tab-content">
                                   <h2>Lorem ipsum dolor sit amet.</h2>
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                 </div>
                               </div>
                               <div class="tab">
                                 <input type="checkbox" id="rd5" name="rd">
                                 <label class="tab-label" for="rd5">Do you maintain a database of pre-written papers?</label>
                                 <div class="tab-content">
                                   <h2>Lorem ipsum dolor sit amet.</h2>
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                 </div>
                               </div>
                               <div class="tab">
                                 <input type="checkbox" id="rd6" name="rd">
                                 <label class="tab-label" for="rd6">Can you accommodate me if I want my paper formatted in the APA style?</label>
                                 <div class="tab-content">
                                   <h2>Lorem ipsum dolor sit amet.</h2>
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                 </div>
                               </div>
                             </div>
                       </div>
                       
                   </div>
               </div>
           </div>
       </div>
   </section> 
</main>