@import"mixins/font";
@import"colors.scss";
@import"mixins/button";
@import"fonts.scss";

.btn-download-small-report-one{
    @include btn($bg-color-primary-2, none, flex, capitalize, 0 25px ,42px);
    @include font(18px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-primary-5;
    }
}

.btn-download-small-report-two{
    @include btn($bg-color-btn-2, none, flex, capitalize, 0 25px ,42px);
    @include font(18px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-2-hover;
    }
}

.btn-download-small-report-three{
    @include btn($bg-color-btn-3, none, flex, capitalize, 0 25px ,42px);
    @include font(18px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-3-hover;
        color:$color-btn-3-hover;
    }
}

.btn-download-middle-report-one{
    @include btn($bg-color-btn-1, none, flex, capitalize, 0 30px ,48px);
    @include font(20px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-1-hover;
    }
}

.btn-download-middle-report-two{
    @include btn($bg-color-btn-2, none, flex, capitalize, 0 30px ,48px);
    @include font(20px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-2-hover;
    }
}

.btn-download-middle-report-three{
    @include btn($bg-color-btn-3, none, flex, capitalize, 0 30px ,48px);
    @include font(20px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-3-hover;
        color:$color-btn-3-hover;
    }
}

.btn-download-big-report-one{
    @include btn($bg-color-btn-1, none, flex, capitalize, 0 67px ,69px);
    @include font(30px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-1-hover;
    }
}

.btn-download-big-report-two{
    @include btn($bg-color-btn-2, none, flex, capitalize, 0 67px ,69px);
    @include font(30px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-2-hover;
    }
}

.btn-download-big-report-three{
    @include btn($bg-color-btn-3, none, flex, capitalize, 0 67px ,69px);
    @include font(30px,  $font-regular, $color-btn-1);

    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    transition: 0.2s all;

    &:hover{
        background-color: $bg-color-btn-3-hover;
        color:$color-btn-3-hover;
    }
}