/*BG Colors*/
$bg-color-primary-1: #013056;
$bg-color-primary-2: #1b7fd0;
$bg-color-primary-3: #f5f6f5;
$bg-color-primary-4: #eff3f5;
$bg-color-primary-5: #10629f;

/*Buttons Colors*/
$bg-color-btn-1: #456dff;
$color-btn-1: #ffffff;
$bg-color-btn-1-hover: #2e384d;
$color-btn-1-hover: #ffffff;
$bg-color-btn-2: #0cb95a;
$color-btn-2: #ffffff;
$bg-color-btn-2-hover: #faaa39;
$color-btn-2-hover: #ffffff;
$bg-color-btn-3: #ef3434;
$color-btn-3: #ffffff;
$bg-color-btn-3-hover: #ebe9e9;
$color-btn-3-hover: #2e384d;

/*Input colors*/
$bg-color-input-1: #ffffff;
$border-color-input-1: #e0e7ff;
$color-input-1: #4a5365;
$bg-color-input-2: #ffffff;
$border-color-input-2: #456dff;
$color-input-2: #5e80ff;
$bg-color-input-3: #ffffff;
$border-color-input-3: #0cb95a;
$color-input-3: #2cc270;
$bg-color-input-4: #ffffff;
$border-color-input-4: #fdb34a;
$color-input-4: #fbb553;
$bg-color-input-5: #ffffff;
$border-color-input-5: #ef3434;
$color-input-5: #ef3434;

/*Table colors*/
$bg-color-tables-1:#ffffff;
$color-tables-1: #2e384d;
$bg-color-tables-2:#f7f7f7;
$color-tables-2: #2e384d;
$color-tables-head: #1b7fd0;

/*Form elements colors*/
$bg-color-form:#ffffff;
$border-color-form:#e2e8ff;
$color-form-1: #3c4559;
$color-form-2: #b0bac9;

/*Checkboxes*/
$bg-color-chbox-1: #f7f8fb;
$border-color-chbox-1: #ced0da;
$bg-color-chbox-press-1_1: #29b311 ;
$bg-color-chbox-press-1_2: #57d841 ; 
$bg-color-chbox-2: #ced0da;

