h1 {
  @include font(30px, $font-semiBold, $font-color-primary-2)
}

h2 {
  @include font(26px, $font-semiBold, $font-color-primary-2)
}

h3 {
  @include font(22px, $font-semiBold, $font-color-primary-2)
}

h4 {
  @include font(18px, $font-semiBold, $font-color-primary-2)
}

h5 {
  @include font(14px, $font-semiBold, $font-color-primary-2)
}

h6 {
  @include font(10px, $font-semiBold, $font-color-primary-2)
}

p {

}

ul {
  padding-left: 0;
  list-style: none;
  li {
    font-size: 24px;
    color: cornflowerblue;
  }
}
